.article-container{
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    width: 160px;
    align-items: center;
    display: inline-block;
    margin: 20px 20px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(133, 121, 133, 1);
  }
  /* .article-container :hover{
      width: 180px;
  } */

  .article-container img{
      height: 160px;
      width: 160px;
  }
  .article-container p{
      text-align: center;
      margin-top: 0;
  }
 
.article-container button{
    margin-left: 37px;
    background-color: rgb(199, 199, 177);
}

.button :hover{
    cursor: pointer;
}